@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

:root {
    --main color: black;
    font-family: 'Caveat Brush', cursive;
}
.header-logo {
    font-family: 'Caveat Brush', cursive;
    font-size: 4rem;
    color: orangered;
    margin: 16px;
    text-align: start;
}
.header-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
   
}

.header-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}
.header-menu li a:hover {
    border: 1px solid var(--main-color);

}